.floor{
	width:1200px;
	margin: 300px auto;
	li{
		height: 430px;
		margin: 50px 0;
		background: #03ccbb;
		color: #fff;
		text-align: center;
		font-size: 100px;
		line-height: 400px;
	}
}
.floor_ctrl{
	width:40px;
	position: fixed;
	left: 30px;
	bottom: 30px;
	li{
		background: #f90;
		width:40px;
		height: 40px;
		margin:2px 0;
		line-height: 40px;
		text-align: center;
		color: #fff;
	}
}